#shoppingCartBadge {
	font-size: 12px;
	background: #ff6a00;
	color: #fff;
	padding: 0 3px;
	/* 	vertical-align: top; */
	border-radius: 50px;
}

.product2 {
	background-color: #f9f9ff !important;
}

.btnSeeAll {
	margin-right: 110px !important;
}

#aboutUs {
	width: 100%;
	height: 200px;
	background-color: #04091e;
}
